<% @professors.each do |professor, id| %>
	<h3><%= professor %> </h3>

	<label for="rating<%= id %>">thumbs up</label>
	<input type="checkbox" class="radio" value="1" name="rating" id="rating<%= id %>">
	<label for="thumbs down<%= id %>">thumbs down</label>
	<input type="checkbox" name="thumbs down" id="thumbs down<%= id %>">
	


<% end %>
<br>
<br>
<br>
<button type="submit">submit</button>


